body {
    background-color: #71d867;
  }
  
  .selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.5);
  }
  
  .results {
    margin-top:125px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
  }
  
  .result-score {
    margin-left: 1rem;
    font-size: 3rem;
    color: rgb(32, 36, 254);
  }
  
  .result-selection {
    margin-top: 1rem;
    opacity: .25;
    font-size: 2.5rem;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 2rem;
  }